@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-foreground: var(--color-mist-800);
  --color-heading: var(--color-mist-500);
  --color-border: var(--color-mist-500);
  --color-border-weak: var(--color-mist-200);
  --color-background: var(--color-mist-50);
  --color-background-2: var(--color-mist-200);

  --color-background-input: var(--color-white);

  --color-primary: var(--color-sky-600);
  --color-primary-foreground: var(--color-white);
  --color-primary-weak: var(--color-sky-200);

  --color-danger-foreground: var(--color-red-800);
  --color-danger-background: var(--color-red-200);
}
